html {
    background-color: LightSeaGreen;
    font: normal 'Times New Roman', serif;
    }
    
    h1 {
      margin: 2px 0 0 0;
      font: normal 40px 'Mukta', sans-serif;
      color: saddleBrown; 
    }
    
    h3 {
      margin-top: 0px;
      font: normal 18px 'Times New Roman', serif; 
    }
    
    a {
      color: white;
      text-decoration: none;
    }
    
    a:hover {
      color:olive;
      text-decoration: underline;
    }
    
    a:visited {
      color:black;
    }
    
    img {
      margin: 15px 20px 0 0;
      border: 6px outset brown;
      width: 250px;
    }
